.start-page-container {
  margin: 0 auto;
  height: 100vh;
  width: auto;
  background: url("/images/post-it.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-x: auto;
  background-attachment: fixed;
}