.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
}

.app-header h1 {
  margin: 20px 20px 40px 20px;
  font-size: 2.5rem;
  color: steelblue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* border: 1px solid green; */
}

.grid-container {
  height: 45vh;
  width: 90%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-template-rows: repeat(5, 75px);
  /* border: thin solid gray; */
}

.grid-cell {
  /* background-color: lightskyblue; */
  border: thin solid gray;
  border-radius: 50px;
  margin: 5px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 15px;
}

.button-play {
  background-color: rgb(166, 235, 8);
  border: thin solid gray;
  padding: 23px;
  border-radius: 35px;
  font-size: 1.2em;
  font-weight: 900;
}

.button-play:hover {
  background-color: rgb(129, 182, 6);
}

.button-clear {
  background-color: rgb(228, 247, 58);
  padding: 15px;
  border: thin solid gray;
  border-radius: 35px;
  font-size: 1.2em;
  font-weight: 900;
}

.button-clear:hover {
  background-color: rgb(200, 218, 42);
}

.explanation-text {
  /* border: 1px solid red; */
  width: 75%;
  font-size: 1.5em;
}

.explanation-text p {
  font-weight: 600;
}

@media only screen and (max-width: 550px) {
  .app-header {
    margin: 20px 50px 30px 40px;
    padding-left: 70px;
    /* padding-right: 30px; */
    font-size: 1.2rem;
    color: steelblue;
  }
  
  .explanation-text {
    font-size: 1.3em;
  }

  /* .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "about"
      "contact"
      "footer";
  } */
}
