.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
}

header h1 {
  margin-top: 20px;
  color: steelblue;
}

.grid-container {
  width: 90%;
  height: 50vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-template-rows: repeat(5,60px);
  border: thin solid gray;
}

.grid-cell {
  background-color: lightskyblue;
  border: thin solid gray;
}

.explanation-text {
  border: 1px solid green;
  color: steelblue;

}

/* @media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "about"
      "contact"
      "footer";
  }
} */