body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  max-height: 100%;
  background-color: rgb(17, 31, 31);
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  display: flex;
  justify-content: center;
  width: 57%;
}

.app-header h1 {
  font-size: 2.5rem;
  color: rgb(161, 161, 157);
  padding: none;
}

.explanation-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72%;
  margin-bottom: 20px;
}

.explanation-text p {
  display: flex;
  margin: 0;
  font-weight: 700;
  color: rgb(161, 161, 157);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  height: 50vh;
  width: 90%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-template-rows: repeat(5, 75px);
}

.grid-cell {
  border-radius: 100px;
  margin: 4px;
}

.button-container {
  display: flex;
  margin-top: 40px;
}

.button-play {
  background-color: rgb(42, 43, 39);
  border: thin solid gray;
  padding: 10px;
  margin-right: 10px;
  border-radius: 35px;
  color:lightgray;
  font-size: 1.2em;
  font-weight: 900;
}

.button-play:hover {
  background-color: rgb(33, 34, 30);
}

.button-clear {
  background-color: rgb(42, 43, 39);
  color:lightgray;
  margin-left: 10px;
  border: thin solid gray;
  border-radius: 35px;
  font-size: 1.2em;
  font-weight: 900;
}

.button-clear:hover {
  background-color: rgb(33, 34, 30);
}

