
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  max-height: 95%;
  background-color: rgb(33, 62, 62);
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  display: flex;
  justify-content: center;
  width: 45%;
}

.app-header h1 {
  font-size: 4.5rem;
  color:rgb(90, 63, 112);
  padding: none;
}

.explanation-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.explanation-text p {
  display: flex;
  margin: 0;
  font-weight: 900;
  color: rgb(206, 206, 201);
}

.score-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(206, 206, 201);
  font-size: 25px;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  height: 50vh;
  width: 90%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-template-rows: repeat(5, 75px);
}

.grid-cell {
  border-radius: 50px;
  height: 60px;
  margin: 4px;
}

.button-container {
  display: flex;
  margin-top: 40px;
}

h2 {
  line-height: 10%;
}

.button-play {
  background-color: rgb(42, 43, 39);
  border: thin solid gray;
  padding: 10px 12px;
  margin-right: 10px;
  border-radius: 35px;
  color:lightgray;
}

.button-play:hover {
  background-color: rgb(33, 34, 30);
}

.button-restart {
  background-color: rgb(42, 43, 39);
  border: thin solid gray;
  padding: 8px;
  padding-top: 10px;
  margin-left: 10px;
  border-radius: 35px;
  color:lightgray;
}

.button-restart:hover {
  background-color: rgb(33, 34, 30);
}

